* {
    margin: 0;
    padding: 0;
    font-family: 'Otomanopee One', sans-serif;;
}

body {
background-color: #FFFFFF;
}

header {
    margin: -10px;
    background-color: black;
    padding: 20px;
}

.nav {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}


.logo {
    display: flex;
    position: absolute;
    left: 75px;
}

.logo-text {
    font-size: 23px;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-self: center;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-item {
    font-size: 15px;
    margin-left: 40px;
    font-weight: 400;
    justify-content: center;
}

.carousel {
    margin: 33px 0 0 140px;
    margin-right: 20px;
}

.carousel section {
    width: 190px;
    margin-right: 20px;
}

.carousel-header {
    margin-right: 48px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.carousel-title {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: bold;
}

.carousel-content {
    width: auto;
    transition: all 1s;
    display: flex;
    align-items: start;
    overflow: hidden;
}

.section-img-box {
    height: 270px;
    width: 189px;
    border-radius: 20px;
    box-shadow: 5px 8px 35px rgba(130, 130, 130, 0.6);
}

.section-img-box:hover {
    position: relative;
    top:-2px;
    box-shadow: 2px 4px 4px #db940f;
    cursor: pointer;
    filter: brightness(110%);
    animation: pulse 1.5s;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;   
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -webkit-filter: brightness(100%);
    }
    100% {
      -webkit-transform: scale(1.1);
      -webkit-filter: brightness(110%);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(110%);
    }
  }

.section-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px
}

.section-title {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    user-select: none;
}

.carousel-footer {
    width: calc(100% - 140px);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.arrow-left {
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.arrow-right { 
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.arrow-left:hover, .arrow-right:hover {
    cursor: pointer;
    position: relative;
    top: -2px;
    text-shadow:0 4px 4px rgb(36, 36, 36);
    filter: brightness(0) saturate(100%) invert(66%) sepia(90%) saturate(2516%) hue-rotate(4deg) brightness(95%) contrast(88%);
}

.tooltip {
    border-radius: 30px;
    display: none;
    height: 150%;
    width: 80%;
    position: absolute;
    top: 10px;
    left: 10%;
    right: 10%;
    z-index: 2;
    background: linear-gradient(170.55deg, #F6F6F6 0.48%, rgba(247, 247, 247, 0) 170.72%);
    backdrop-filter: blur(25px);
    animation: scale .35s;
}

.tooltip--exit {
    animation-direction: reverse;
    animation: scale .35s;
}

@keyframes scale-out {
    from {
        transform: scale(100%, 100%);
        opacity: 1;
    }
    to {
        transform: scale(0, 100%);
        opacity: 0;
    }
}

@keyframes scale {
    from {
        transform: scale(0, 100%);
        opacity: 0;
    }
    to {
        transform: scale(100%, 100%);
        opacity: 1;
    }
}

.background {
    height: 480px;
    width: 378.54px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.background-img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.back {
    height: 80px;
    width: 80px;
    top: -15px;
    right: -10px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(8%) sepia(67%) saturate(7420%) hue-rotate(3deg) brightness(92%) contrast(106%);
}

.back:hover {
    cursor: pointer;
}

.categories {
    height: 54px;
    width: 100%;
    margin-bottom: 30.63px;
    margin-top: 30.63px;
    display: grid;
    grid-template-areas: '1 2 3 4' '5 5 5 5';
}

.categories-item {
    height: 21px;
    width: auto;
    border-radius: 20px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: #292929;
    background-color: rgb(211, 209, 209);
    user-select: none;
}

.categories-text {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #0c0c0c;
}

.tooltip-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #000000;
}

.tooltip-description {
    margin: -30px 70px 30px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.tooltip-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltip-read {
    width: 360px;
    height: 42px;
    border-radius: 60px;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #FFFFFF;
    background-color: #0c0c0c;
}

.tooltip-read-list {
    width: 360px;
    height: 42px;
    border-radius: 60px;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    margin-top: 20px;
    color: #000000;
    border: 2px solid #000;
    background-color: transparent;
}

.tooltip-read:hover {
    background-color: #292929;
    cursor: pointer;
}

.tooltip-read-list:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.script {
    display: none;
}
